<agent_config>
  <!-- Shared agent configuration - SITE-1 -->
  <syscheck>
    <directories realtime="yes" report_changes="yes">{{ agent_monitored_dir_site1 }}</directories>
  </syscheck>
</agent_config>
