<agent_config>
  <!-- Shared agent configuration - SITE-2 -->
  <syscheck>
    <directories realtime="yes" report_changes="yes">{{ agent_monitored_dir_site2 }}</directories>
  </syscheck>
</agent_config>
